body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 15px 20px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: cyan;
    border: 2px solid cyan;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #456fa0;
}

@media (min-width: 768px) {
    .container {
        max-width: 800px;
    }
}

.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 175px;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

.sidebar a {
    padding: 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.content {
    margin-left: 0;
    transition: margin-left 0.5s;
    padding: 16px;
}

.open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    border-radius: 2%;
    position: fixed;
    left: 10px;
    top: 10px;
}