body {
  background-color: #202020;
  font-family: Arial, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header img {
  max-height: 50px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjusted to space-between */
  margin: 50px;
}

.product-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin-right: 2%;
}

.product-image-container {
  margin-top: 20px;
}

.product-ratings {
  margin-top: 30px;
  margin-left: 70%;
}

.product-image {
  width: 100%;
  height: auto;
  max-width: 50%;
  margin-right: -500px; /* Adjust the margin to move it more to the right */
  margin-top: -30%;
}

.product-details {
  width: 45%;
  padding: 20px;
}

.buy-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
}

.product-description,
.key-features,
.customer-reviews,
.faqs {
  margin-top: 20px;
}

.img1 {
  height: 600px;
  width: 500px;
  margin-right: -30%;
}

.rating {
  background-color: rgba(0, 0, 0, 0.292);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 900px;
  max-width: 80%;
}

@media screen and (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }

  .product-image-container,
  .product-details {
    width: 95%;
    margin-right: auto;
  }

  .img1 {
    width: 100%;
    height: auto;
    margin-right: auto;
  }

  .product-ratings {
    margin-top: 20px;
    margin-left: auto;
  }

  .rating {
    width: 100%; /* Adjusted to full width on smaller screens */
    max-width: none;
  }
}

button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#openFormButton {
  background-color: #4caf50;
  color: white;
}

#openFormButton:hover,
#openFormButton:focus {
  background-color: #45a049;
}

#issueForm {
  display: none;
  background-color: rgba(0, 0, 0, 0.292);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  max-width: 80%;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #ffffff;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="button"] {
  background-color: #007bff;
  color: white;
}

button[type="button"]:hover,
button[type="button"]:focus {
  background-color: #0056b3;
}
