.body {
  overflow-x: hidden;
}

.snowflake {
  position: absolute;
  top: 0;
  background: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
  .snowflake {
    animation-name: fallMobile;
  }

  @keyframes fallMobile {
    to {
      transform: translateY(1400px);
    }
  }
}

/* Desktop Styles */
@media only screen and (min-width: 769px) {
  .snowflake {
    animation-name: fallDesktop;
  }

  @keyframes fallDesktop {
    to {
      transform: translateY(700px);
    }
  }
}
