.product-badge-green {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34e56f;
  color: #fff;
  font-size: .8rem;
  line-height: 1.5;
  height: 1.625rem;
  width: 100%;
  max-width: 5.5rem;
  padding-right: .5rem;
  position: relative;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  top: 2.30rem;
  left: 0.90rem;
  border-radius: 0.2rem;
  transition: transform 0.3s ease-in-out;
 }

.product-badge-green:hover{
  transform: scale(1.1);
}

.product-badge-green.choice {
  background-color: #23303e;
  color: #fff;
  max-width: 8rem;
  margin-right: .25rem;
}

.product-badge-green.choice>span {
  color: #34e56f;
}

.product-badge-green.choice sup {
  position: relative;
  font-size: .5rem;
}

.grid-prime {
  flex-wrap: wrap;
}