/* Stili per il desktop */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header img {
    max-height: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.product-image {
    flex: 1;
    margin-right: 50px;
}

.product-info {
    flex: 2;
}

.product-image img {
    width: 100%;
}

.product-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.product-description {
    margin-bottom: 20px;
}

.cart-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.cart-btn:hover {
    background-color: #3e8e41;
    text-decoration: none;
    border-radius: 5px;
}

.rating {
    background-color: rgba(0, 0, 0, 0.292);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
    max-width: 80%;
    margin-left: 160px;
}

.rating-title {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-left: 165px;
}

#openFormButton {
    background-color: #4caf50;
    color: white;
}

#openFormButton:hover,
#openFormButton:focus {
    background-color: #45a049;
}

#issueForm {
    display: none;
    background-color: rgba(0, 0, 0, 0.292);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 980px;
    max-width: 80%;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="button"] {
    background-color: #007bff;
    color: white;
}

button[type="button"]:hover,
button[type="button"]:focus {
    background-color: #0056b3;
}

button {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.new-r {
    margin-left: 165px;
}

/* Stili per il mobile */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .product-image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    
   

    .new-r {
        padding: 1px; /* Riduci il padding */
        margin-left: 5%;
    }
    label {
        font-size: 14px; /* Riduci la dimensione del font per i label */
    }

    .rating-title{
        padding: 15px; /* Riduci il padding */
        margin-left: 5%;
    }

    .rating {
        max-width: 80%; /* Riduci la larghezza massima */
        margin-left: 5%; /* Allinea a destra */
        margin-right: auto; /* Allinea a sinistra */
        padding: 10px; /* Riduci il padding */
        word-wrap: break-word;
    }

    .rating-title {
        margin-left: auto; /* Allinea a destra */
        margin-right: auto; /* Allinea a sinistra */
    }
   }
