body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
}

#chat-container {
    max-width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#chat-messages {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    background-color: #202020;
    color: #fff;
}

#user-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #202020;
}

#input-text {
    flex: 1;
    padding: 5px;
}

#send-button {
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
}
.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 175px;
}