body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #202020;
    color: white;
}

.game-container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

button{
    position: absolute;
  background-color: #202020;
  top: 90%;
  padding: 15px 30px;
  color: cyan;
  text-transform: uppercase;
  text-decoration-line: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
  
  
            align-items: center;
            justify-content: center;
            
            margin: 0;
}
button:hover {
    box-shadow: 0 0 10px rgb(11, 251, 251), 0 0 40px cyan, 0 0 80px cyan;
    transition-delay: 0.02s;
    transform: scale(1.1);
}

