#fireworks-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none; 
  }
  
  
  
  @keyframes explode {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(5);
      opacity: 0;
    }
  }
  

  .firework {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: explode 1s infinite;
  }


.firework {
  width: 5px; 
  height: 5px; 
  background-color: #00f; 
  border-radius: 50%;
  animation: explode 1s infinite;
}


.firework.blue {
  background-color: #00f; 
}

.firework.purple {
  background-color: #800080; 
}

.firework.lightblue {
  background-color: #add8e6; 
}


